################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Library
/Temp
/UnityPackageManager
/UnityOutlineShader.csproj
/UnityOutlineShader.sln
/Logs
/obj/Debug
/UserSettings
*.vsconfig
*.csproj
